$titles: "Poppins", sans-serif;
$main_text: "Inter Tight", sans-serif;
$index: calc(1vw + 1vh);
$light_gray: #7A7A7A;
$very_light_gray: #CCCCCC;
$red_accent: #4E0202;
$dark_gray: #262626;
$white: white;
$background: #0D0D0D;
$transition: 1s cubic-bezier(0.05, 0.5, 0, 1);